.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build/
/captures
app/mifosng-android.apk
Finflux.iml
/app/app.iml
ulidavaruKandante.iml
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
app/gradlew
app/gradlew.bat
./app/local.properties
